Language: Cpp

ColumnLimit: 100
IndentWidth: 4

PointerAlignment: Left

IndentCaseLabels: true

AllowShortFunctionsOnASingleLine: None

### Arguments and Parameters
BinPackArguments: false
BinPackParameters: false
# Prefer splitting over putting on next line
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true

### Penalties
PenaltyBreakAssignment: 500
PenaltyBreakBeforeFirstCallParameter: 500

AlwaysBreakTemplateDeclarations: true

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 6

# Namespaces
FixNamespaceComments: false
NamespaceIndentation: All